src/__pycache__/student_database.cpython-313.pyc
test/__init__.py
test/test_student_database_part_1.py
test/test_student_database_part_2.py
test/test_student_database_part_3.py
test/test_student_database_part_4.py
test/__pycache__/__init__.cpython-313.pyc
test/__pycache__/test_student_database_part_1.cpython-313.pyc
test/__pycache__/test_student_database_part_2.cpython-313.pyc
test/__pycache__/test_student_database_part_3.cpython-313.pyc
test/__pycache__/test_student_database_part_4.cpython-313.pyc
tmc/__init__.py
tmc/__main__.py
tmc/points.py
tmc/result.py
tmc/runner.py
tmc/utils.py
tmc/__pycache__/__init__.cpython-313.pyc
tmc/__pycache__/__main__.cpython-313.pyc
tmc/__pycache__/points.cpython-313.pyc
tmc/__pycache__/result.cpython-313.pyc
tmc/__pycache__/runner.cpython-313.pyc
tmc/__pycache__/utils.cpython-313.pyc
